/* PC用 */
@media print, screen and (min-width: 640px) {

.ex-skill {
  display: inline;
}

body {
  background-color: #eee;
}

.container {
  margin: 0 auto;
}

.main{
  width: 60%;
  background-color: white;
}

}
